html,body {
    height: 100%
    margin: 0;
}

.bg{
    background-image: url("../imgs/baixados6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }

.container {
    display        : flex;
    position       : absolute;
    width          : 99%;
    height         : 99%;
    flex-flow      : column nowrap;
    align-items    : center;
    justify-content: center;
}

.container .title {
    font-size: 35px;
    color    : hsl(194deg 100% 50%);
    font-weight: bold;
}

.container .buttons {
    margin-top : 50px;
    margin-left: -130px;
}

.container .buttons .btn {
    position        : absolute;
    padding         : 10px 20px;
    font-size       : 18px;
    background-color: #7f0000;
    color           : white;
    border          : none;
    border-radius   : 3px;
	cursor			: pointer
}

.container .buttons>#btnsim {
    margin-left: -60px;
}

.container .buttons>#btnnao {
    margin-left: 60px;
}
